<html>
<head>
<title>Javascript Tetris v0.01</title>

<script type="text/javascript" src="../src/tetrisCore.js"></script>
<script type="text/javascript" src="../src/tetrisView.js"></script>
<script type="text/javascript" src="../src/tetriminos.js"></script>
<script type="text/javascript" src="../src/utils.js"></script>
</head>
<body onload="initTetris(10,20);">
<div id="score">Score: 0</div>
<div id="buttons">
	<input type="button" value="Novo Jogo" onclick="newGame();" />
</div>
<div id="tetrisField" style="width:200px; height:400px;"></div>
<div id="creditos">
Trabalho de Linguagens de Programação (Informática)
<br />
Alunos:
<br />
Thiago Cardoso da Silveira (R.A:45194)
<br />
Marcelo Tadashi Tsunematsu (R.A:45212)
</div>
</body>
</html>
